@import "tailwindcss";

/* Styles globaux de base */
@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
  }

  body {
    -webkit-font-smoothing: antialiased;
    background-color: #f5f5f7; /* ancien colors.bg */
    color: #111827;            /* ancien colors.text-main */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
      "Segoe UI", sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  button {
    font-family: inherit;
  }
}
